doctype html

html
  head
    link(href="/client/theme.css", rel="stylesheet", type="text/css")
    link(href="/client/registration-complete.css", rel="stylesheet", type="text/css")
  
  body.container
    h1.welcomeMessage You're all set! Expect a text from us soon :)
